.themed-color{
  background-color: #007bff;
  background-image: url('../assets/images/bkg-nav.jpeg');
}

.themed-text{
  color: #ffffff !important;
  font-family: $title-font;
}
.themed-text2{
  color: blue;
  display:block
}

.menu-switch{
  &:first-child{
    padding-left: 6%;
  }
  margin-right: 0% !important;
}

.navbar{
  overflow-x: hidden;
  width: 100%;
  left:0;
  right:0;
}
