.themed-color{
  background-color: #3BBF79;
  background-image: url('../assets/images/bkg-nav.jpeg');
}

.themed-text{
  color: #B22314 !important;
  font-family: $title-font;
}
.themed-text2{
  color: blue;
  display:block
}
