.themed-color{
  background-color: #007bff;
  background-image: url('../assets/images/bkg-nav.jpeg');
}

.themed-text{
  color: #ffffff !important;
  font-family: $title-font;
}
.themed-text2{
  color: blue;
  display:block
}

.menu-switch{
  padding-left:6% !important;

}
