#accordion{
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 10em;
 span{
   float: right;
 }
 .card{
   width: 75%;
   height: 100%;
   overflow-y: auto;
   line-height: 1.5;
 }
}

.separator {
  display: block;
  width:50%;
  margin-left:25%;
  height:1px;
  background-color: #007bff;
}

.qte{

}
