.publi{
  width: 20%;
  height: 100%;

  img{
    width: 100%;
    height: auto;
    margin:0 !important;
    padding:0 !important;
  }
}

.panel-pub{
  margin-top: 2%;
  margin-left: 12%;
  height:70%;
  margin-bottom: 80em;
}



.display-3{
  font-family: $title-font;
}

.loc-title{
  font-family: $title-font;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px #007bff;
}

.card iframe{
  width: 100%;
  height: 50%;
}

.localisation{
   p{
  font-size: 20px;
  text-align: center;
  }
  .card{
    border: 1px black solid;
  }
  .card-body{
    background-color: #007bff;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
  }
}
